{{> head }}

{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>About me</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, expedita voluptatibus quas consequuntur nostrum ducimus? Quidem, aspernatur optio cumque exercitationem autem accusamus alias eum. Nam doloribus labore laborum unde esse.
        </p>
    </div>

    <div>
        <img src="/assets/img/Todos-necesitamos-un-Hacker.png" class="img-thumbnail">
    </div class="col-4">

</div>

{{> footer }}